<!-- mandela/templates/mandela/quotes.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Nelson Mandela - Quotes</title>
  </head>
  <body>
    <h1>Nelson Mandela's Quotes</h1>
    <ul>
      <li>
        1. "Education is the most powerful weapon which you can use to change
        the world."
        <br />
        2. "I learned that courage was not the absence of fear, but the triumph
        over it. The brave man is not he who does not feel afraid, but he who
        conquers that fear."
        <br />
        3. "For to be free is not merely to cast off one's chains, but to live
        in a way that respects and enhances the freedom of others."
        <br />
        4. "It always seems impossible until it’s done."
        <br />
        5. "Do not judge me by my successes, judge me by how many times I fell
        down and got back up again."
        <br />
        6. "I am the master of my fate, I am the captain of my soul."
        <br />
        7. "Resentment is like drinking poison and then hoping it will kill your
        enemies."
        <br />
        8. "It is better to lead from behind and to put others in front,
        especially when you celebrate victory when nice things occur. You take
        the front line when there is danger. Then people will appreciate your
        leadership."
        <br />
        9. "A good head and a good heart are always a formidable combination."
        <br />
        10. "There can be no keener revelation of a society's soul than the way
        in which it treats its children."
      </li>
    </ul>
  </body>
</html>
